In [1]:
#Author(s): Jose Torres-Vargas
from pandasDB import DataBase

In [2]:
db = DataBase()

In [4]:
#returns a list of dictionaries. Each dictionary is a song that was found
results = db.query('food', False)
data = results['track_data']
data

[{'track_id': 2,
  'song_title': array(['Food'], dtype=object),
  'artist_name': array(['AWOL'], dtype=object),
  'date': array(['2008-11-26 01:48:12'], dtype=object),
  'genre_top': array(['Hip-Hop'], dtype=object),
  'set': array(['small'], dtype=object),
  'X': feature         mfcc                                                    \
  statistics  kurtosis
  number            01        02        03        04        05        06
  track_id
  2           3.856789  1.541901  0.000816  0.330728  0.118731 -0.342687

  feature                                             ... spectral_contrast  \
  statistics                                          ...              skew
  number            07        08        09        10  ...                05
  track_id                                            ...
  2          -0.259252  0.146735  0.410656 -0.162872  ...           0.43285

  feature                                                               \
  statistics                         std
  number            06      07        01        02        03        04
  track_id
  2           1.690805 -1.5719  4.541557  4.321756  3.936234  3.144537

  feature
  statistics
  number            05        06        07
  track_id
  2           3.310087  3.096597  7.622641

  [1 rows x 189 columns]},
 {'track_id': 1507,
  'song_title': array(['Food'], dtype=object),
  'artist_name': array(['Ric Royer &amp; G. Lucas Crane'], dtype=object),
  'date': array(['2008-11-26 03:02:03'], dtype=object),
  'genre_top': array(['Experimental'], dtype=object),
  'set': array(['large'], dtype=object),
  'X': feature         mfcc                                                   \
  statistics  kurtosis
  number            01        02        03       04        05        06
  track_id
  1507       -0.867375 -1.264407  0.418227  1.12198  0.079978 -0.745648

  feature                                             ... spectral_contrast  \
  statistics                                          ...              skew
  number            07        08        09        10  ...                05
  track_id                                            ...
  1507       -0.836468 -0.214756 -0.543199 -0.615903  ...          0.121286

  feature                                                                 \
  statistics                           std
  number            06        07        01        02        03        04
  track_id
  1507       -0.139151 -0.040098  6.407063  5.240584  5.065089  4.056613

  feature
  statistics
  number            05         06        07
  track_id
  1507        5.317126  10.268276  8.381847

  [1 rows x 189 columns]}]

In [6]:
#get first result(there might be duplicates)
firstSong = data[0]
#features that are then fed into the model
firstSong['X']

feature         mfcc                                                    \
statistics  kurtosis
number            01        02        03        04        05        06
track_id
2           3.856789  1.541901  0.000816  0.330728  0.118731 -0.342687

feature                                             ... spectral_contrast  \
statistics                                          ...              skew
number            07        08        09        10  ...                05
track_id                                            ...
2          -0.259252  0.146735  0.410656 -0.162872  ...           0.43285

feature                                                               \
statistics                         std
number            06      07        01        02        03        04
track_id
2           1.690805 -1.5719  4.541557  4.321756  3.936234  3.144537

feature
statistics
number            05        06        07
track_id
2           3.310087  3.096597  7.622641

[1 rows x 189 columns]